@model KKIS.Web.ViewModels.ContactViewModel
<div id="contact_us_page">
    <h2>Contact Us</h2>
    <p>
        Hours by Appointment Only<br />
        Operating from Appleton, WI
    </p>
    <p>
        Phone: (920) 954-9191<br />
        Email: <a href="mailto:info@krystalkleerice.com">info@krystalkleerice.com</a>
    </p>
    <div id="contactform">
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)

            <fieldset>
                <legend>Contact Us</legend>
                <div class="editor-label">
                    @Html.LabelFor(model => model.Name)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Name)
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
                <div class="cleaner_h10">
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.Email)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Email)
                    @Html.ValidationMessageFor(model => model.Email)
                </div>
                <div class="cleaner_h10">
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.Message)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Message)
                    @Html.ValidationMessageFor(model => model.Message)
                </div>
                <div class="cleaner_h10">
                </div>
                <p>
                    <input type="submit" value="Send" />
                    <input type="submit" value="Reset" />
                </p>
            </fieldset>
        }
    </div>
</div>
