@model KKIS.Models.ContactModel
@{
    ViewBag.Title = "Krystal Kleer Ice Sculptures";
}
<div id="slider">
    <div id="templatemo_wrapper">
        <div id="templatemo_main">
            <div id="templatemo_sidebar">
                <div id="header">
                    <h1><a href="/">Krystal Kleer Ice Sculptures, LLC</a>
                    </h1>
                </div>
                <div id="menu">
                    <ul class="navigation">
                        <li><a href="#aboutus" class="selected">About Us</a></li>
                        <li><a href="#gallery">Photo Gallery</a></li>
                        <li><a href="#services">Sizes &amp; Pricing</a></li>
                        <li><a href="#questions">Questions</a></li>
                        <li><a href="#facebook" class="last">Facebook</a></li>
                    </ul>
                </div>
            </div>
            <!-- end of sidebar -->
            <div id="templatemo_content">
                <div class="scroll">
                    <div class="scrollContainer">
                        <div class="panel" id="aboutus">
                            @Html.Partial("About", Model as KKIS.Models.ContactModel)
                        </div>
                        <div class="panel" id="gallery">
                            @Html.Partial("Gallery")
                        </div>
                        <div class="panel" id="services">
                            @Html.Partial("Services")
                        </div>
                        <div class="panel" id="questions">
                            @Html.Partial("Questions")
                        </div>
                        <div class="panel" id="facebook">
                            @Html.Partial("Facebook")
                        </div>
                    </div>
                    <!-- end scrollContainer -->
                </div>
            </div>
            <!-- end of content -->
            <div class="cleaner">
            </div>
        </div>
        <!-- end of main -->
        <div id="templatemo_footer">
            Copyright © @DateTime.Today.Year <a href="#home">Krystal Kleer Ice Sculptures, LLC</a>
            <div class="cleaner">
            </div>
        </div>
    </div>
    <!-- end of wrapper -->
</div>
<!-- end of slider -->
